@font-face {
  font-family: "Segoe UI";
  src: url("SegoeUI-SemiBold.eot");
  src: local("Segoe UI Semibold"), local("SegoeUI-SemiBold"),
    url("../fonts/SegoeUI-SemiBold.eot?#iefix") format("embedded-opentype"),
    url("../fonts/SegoeUI-SemiBold.woff") format("woff"),
    url("../fonts/SegoeUI-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Segoe UI";
  src: local("Segoe UI"), local("SegoeUI"),
    url("../fonts/SegoeUI.eot?#iefix") format("embedded-opentype"),
    url("../fonts/SegoeUI.woff") format("woff"),
    url("../fonts/SegoeUI.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Segoe UI";
  src: local("Segoe UI Bold"), local("SegoeUI-Bold"),
    url("../fonts/SegoeUI-Bold.eot?#iefix") format("embedded-opentype"),
    url("../fonts/SegoeUI-Bold.woff") format("woff"),
    url("../fonts/SegoeUI-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

body {
  height: 2600px;
  font-family: "Segoe UI";
  margin: 0;
}
.pointer {
  /* pointer-events: all; */
}
.grey {
  font-family: "Segoe UI";
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  color: #a0a0a4;
}
.black {
  color: #000000;
}

.old_price:hover ~ .info_price {
  display: block;
}

.info_price {
  display: none;
  padding: 10px;
  position: absolute;
  width: 219px;
  height: 44px;
  right: 0;
  top: 55px;
  background: #ffffff;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.15), 0px 0px 1px rgba(0, 0, 0, 0.3);
  border-radius: 8px;
}
.back_delivery p:hover ~ .free_info {
  display: block;
}
.free_info_text {
  text-decoration: none;
  font-family: "Segoe UI";
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  display: flex;
  align-items: center;
  color: #000000;
}
.free_info {
  display: none;
  padding: 10px;
  position: absolute;
  width: 268px;
  height: 36px;
  left: 329px;
  top: 38px;
  background: #ffffff;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.15), 0px 0px 1px rgba(0, 0, 0, 0.3);
  border-radius: 8px;
}
.info img {
  cursor: pointer;
}
.info img:hover ~ .info_bar {
  display: block;
}
.info_bar {
  color: #000;
  display: none;
  padding: 15px;
  position: absolute;
  width: 250px;
  height: 74px;
  top: 26px;
  background: #ffffff;
  border-radius: 8px;
  z-index: 1;
}
.info_h2 {
  margin: 0;
  font-size: 13px;
  line-height: 16px;
}
.info_bar_text {
  margin-top: 8px;
  margin-bottom: 0;
  font-family: "Segoe UI";
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
}
.main_content {
  pointer-events: all;
  margin: 0 auto;
  width: 1471px;
}
header {
  padding-bottom: 25px;
  height: 107px;
  background-color: #6725a8;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header_el1 {
  margin-right: 40px;
  margin-left: 40px;
}

.header_el2 {
  display: flex;
  margin-right: 40px;
  margin-left: 40px;
  cursor: pointer;
}
.header_el1 h2 {
  margin-left: 33px;
  width: 132px;
  font-family: "Segoe UI";
  font-style: normal;
  font-weight: 600;
  font-size: 28px;
  line-height: 24px;
  letter-spacing: 0.02em;
  font-variant: small-caps;
  color: #ffffff;
}
.header_el1 img {
  cursor: pointer;
}
.profile {
  margin-right: 60px;
}
.search {
  position: relative;
  right: 45px;
  top: 5px;
}
div input {
  width: 873px;
  height: 48px;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 36px;
  border: none;
  outline: none;
  color: white;
  font-weight: 400;
}
input::placeholder {
  color: rgb(152, 107, 183);
}
.br {
  background-color: #f6f6fa;
  position: relative;
  border-radius: 24px 24px 24px 24px;
  bottom: 48px;
}
.wrapper {
  display: flex;
  justify-content: space-between;
  margin-right: 30px;
  margin-left: 25px;
  margin-top: 25px;
}
.wrapper div h1 {
  margin-top: 45px;
}
.side_one {
  width: 962px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.swipe {
  cursor: pointer;
  transition: 0.2s ease-in-out;
}
.swipe_on {
  transition: 0.2s ease-in-out;
  transform: rotate(180deg);
}

.chek {
  cursor: pointer;
}
.chekbox {
  display: flex;
  align-items: center;
}
.chekbox p {
  margin-left: 10px;
}

.free_text:hover ~ .info_free {
  display: block;
}

.info_free p {
  margin: 0;
  font-family: "Segoe UI";
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  display: flex;
  align-items: center;
  color: #000000;
}
.info_free {
  display: none;
  padding: 10px;
  gap: 8px;
  position: absolute;
  width: 268px;
  height: 36px;
  left: 8px;
  top: 48px;
  background: #ffffff;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.15), 0px 0px 1px rgba(0, 0, 0, 0.3);
  border-radius: 8px;
}
.check {
  cursor: pointer;
  width: 23px;
  height: 23px;
  background-repeat: no-repeat;
  background-image: url(/img/unchekbox.png);
}
.check_on {
  background-image: url(/img/checkbox.png);
  width: 23px;
  cursor: pointer;
  background-repeat: no-repeat;
  height: 23px;
}

.line {
  width: 962px;
  background: rgba(0, 0, 0, 0.1);
  height: 1px;
}
.hiden {
  display: none;
}
.item {
  margin-right: 20px;
  justify-content: space-between;
  margin-top: 10px;
  margin-bottom: 35px;
  display: flex;
  align-items: center;
}
.item_part_one {
  margin-top: 10px;
  margin-bottom: 35px;
  display: flex;
  align-items: center;
}
.item_cart {
  margin-top: 10px;
  margin-bottom: 35px;
  display: flex;
  align-items: flex-start;
}
.img1 {
  width: 90px;
  margin-right: 20px;
  margin-left: 20px;
}
.item_name {
  width: 300px;
  margin: 0;
  top: 5px;
  position: relative;
}
.color_size {
  display: flex;
}
.color_size p {
  margin-right: 10px;
}
.info {
  position: relative;
  margin-top: 10px;
  display: flex;
}

.text_block {
  margin-top: 10px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  color: #a0a0a4;
}
.text_block p {
  margin: 0;
}
.counter {
  width: 100px;
  height: 44px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: #e8e8e8;
  border-radius: 8px;
}
.counter p {
  cursor: pointer;
}
.like_trash {
  margin-top: 20px;
  display: flex;
  justify-content: flex-end;
}

.like {
  margin-right: 10px;
  cursor: pointer;
  width: 20px;
  background-image: url(/img/heart.png);
}
.like_on {
  margin-right: 10px;
  cursor: pointer;
  width: 20px;
  background-image: url(/img/like_on.png);
}

.last {
  font-family: "Segoe UI";
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  color: #ff3b30;
}
.trash {
  height: 16px;
  cursor: pointer;
  width: 16px;
  background-image: url(/img/trash.png);
}

.trash_on {
  width: 16px;
  background-image: url(/img/trash_active.png);
}

.price_counter {
  display: flex;
}
.price {
  position: relative;
  width: 130px;
  margin-left: 40px;
}
.price p {
  margin: 0;
}
.sale_price {
  font-family: "Segoe UI";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 28px;
  display: flex;
  align-items: center;
  text-align: right;
  letter-spacing: -0.01em;
  color: #000000;
  justify-content: flex-end;
}
.old_price {
  cursor: pointer;
  text-decoration: line-through;
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  display: flex;
  align-items: center;
  color: #a0a0a4;
  justify-content: flex-end;
}
.item_part_two {
  display: flex;
}
.line_price3 {
  width: 50px;
  height: 1px;
  position: relative;
  left: 81px;
  border: none;
  border-top: 1px dashed rgba(0, 0, 0, 0.1);
}
.line_price1 {
  width: 56px;
  height: 1px;
  position: relative;
  left: 74px;
  border: none;
  border-top: 1px dashed rgba(0, 0, 0, 0.1);
}
.line_price2 {
  width: 86px;
  height: 1px;
  position: relative;
  left: 45px;
  border: none;
  border-top: 1px dashed rgba(0, 0, 0, 0.1);
}

.deleted_item p {
  font-family: "Segoe UI";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  display: flex;
  align-items: center;
  color: #000000;
}
.like_trash_two {
  width: 45px;
  display: flex;
  position: relative;
  bottom: 65px;
  right: 170px;
  justify-content: space-between;
}
.like_trash_two_onmouse {
  opacity: 1;
}

.side_two_open p {
  color: #a0a0a4;
}
.delivery {
  margin-top: 30px;
  margin-bottom: 25px;
  width: 891px;
  height: 441px;
  background: #ffffff;
  border-radius: 16px;
}
.purple {
  cursor: pointer;
  font-family: "Segoe UI";
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 32px;
  display: flex;
  color: #cb11ab;
}
.delivery_text {
  margin-right: 25px;
  margin-left: 25px;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.punkt {
  margin-right: 80px;
  margin-top: 0;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
}
.street {
  margin: 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}
.two {
  justify-content: unset;
}
.star {
  display: flex;
  margin: 0;
  align-items: center;
}
.star p {
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  margin: 0;
  margin-right: 15px;
}
.delivery_text_price {
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  display: flex;
  margin-left: 25px;
  width: 260px;
  justify-content: space-between;
}
.free {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}
.delivery_date {
  margin-left: 25px;
  display: flex;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
}
.delivery_item_date {
  margin-bottom: 20px;
  display: flex;
  justify-content: flex-end;
  width: 306px;
}
.delivery_item_date img {
  width: 65px;
  margin-right: 10px;
}
.back_delivery {
  position: relative;
  display: flex;
  align-items: center;
}
.back_delivery img {
  margin-right: 10px;
  margin-left: 25px;
}
.back_delivery p {
  cursor: pointer;
  color: #0cb477;
  text-decoration: underline dashed;
}
.pay_system_block {
  width: 841px;
  height: 106px;
  background: #ffffff;
  border-radius: 16px;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  padding: 25px;
  margin-bottom: 20px;
}

.system {
  height: 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.system span {
  cursor: pointer;
}

.pay_system_block span {
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  color: #cb11ab;
}
.pay_system {
  margin-top: 10px;
  display: flex;
  align-items: center;
}
.pay_system p {
  margin-left: 10px;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}
.pay_on_card {
  margin: 0;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  color: #a0a0a4;
}

.poluchatel {
  width: 841px;
  height: 215px;
  margin-bottom: 50px;
  background: #ffffff;
  border-radius: 16px;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  padding: 25px;
}

.poluchatel input {
  font-family: "Segoe UI";
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}
.FIO {
  color: #000;
  margin-right: 25px;
  height: 20px;
  width: 338px;
  border: none;
  border-radius: 0;
}
.FIO::placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #a0a0a4;
}
.data {
  color: #000;
  margin-top: 40px;
  margin-right: 25px;
  height: 20px;
  width: 218px;
  border: none;
  border-radius: 0;
}
.INN {
  width: 217px;
  margin-right: 0;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  color: #000000;
}
.data::placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #a0a0a4;
}
.form {
  display: flex;
}

footer {
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  color: rgba(255, 255, 255, 0.7);
  padding-top: 14px;
  height: 80px;
  position: relative;
  bottom: 70px;
  z-index: -1;
  background: #6725a8;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cart_menu {
  padding: 15px 25px;
  margin-top: 20px;
  width: 380px;
  height: 542px;
  background: #fff;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.15), 0px 0px 1px rgba(0, 0, 0, 0.3);
  border-radius: 16px;
}

.result {
  margin-bottom: 10px;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: -0.01em;
  color: #000000;
}
.flex {
  align-items: center;
  display: flex;
  justify-content: space-between;
}
.flex p {
  margin-bottom: 0;
  margin-top: 0;
}
.location_change {
  margin-top: 25px;
}
.location_change img {
  cursor: pointer;
}
.location_change p {
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  color: #000000;
}
.location {
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  color: #000000;
}

.date_of_delivery {
  margin-top: 0;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  color: #cb11ab;
}
.menu_back_delivery {
  position: relative;
  padding-left: 10px;
  width: 371px;
  height: 52px;
  background: #f6f6fa;
  border-radius: 8px;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  color: #000000;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.menu_back_delivery img {
  margin-right: 10px;
}
.free_text {
  cursor: pointer;
  color: #0cb477;
  text-decoration: underline dashed;
}
.menu {
  height: 25px;
  margin-top: 0;
}
.pay {
  padding-top: 10px;
  padding-bottom: 10px;
  width: 351px;
  height: 66px;
  background: #f6f6fa;
  border-radius: 8px;
  margin-top: 20px;
  padding-left: 10px;
}
.pay img {
  cursor: pointer;
}
.pay p {
  width: 319px;
}

.cart_menu button {
  cursor: pointer;
  margin-top: 25px;
  margin-bottom: 8px;
  width: 381px;
  height: 44px;
  font-family: "Segoe UI";
  font-weight: 700;
  font-size: 16px;
  color: #ffffff;
  border: none;
  background: #cb11ab;
  border-radius: 8px;
}

.root {
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  font-family: "Segoe UI";
  font-style: normal;
  color: #000000;
  align-items: center;
  display: flex;
}
.root p {
  margin: 0;
}
.root span {
  cursor: pointer;
  text-decoration: underline solid rgba(0, 0, 0, 0.1);
}
.root img {
  margin-bottom: 12px;
  margin-right: 10px;
}

.pen {
  cursor: pointer;
  background-image: url(/img/pen.png);
  width: 16px;
  height: 16px;
  background-repeat: no-repeat;
}

.payment_method {
  display: none;
  padding: 15px 20px;
  position: absolute;
  width: 460px;
  height: 378px;
  left: calc(50% - 500px / 2 + 50.5px);
  top: calc(50% - 408px / 2 - 8px);
  background: #ffffff;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
  border-radius: 16px;
}
.payment_method_on {
  display: block;
}
.cross {
  cursor: pointer;
  background-image: url(/img/cross.png);
  background-repeat: no-repeat;
  width: 16px;
  height: 16px;
}

.flex h1 {
  font-family: "Segoe UI";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 28px;
  display: flex;
  align-items: center;
  color: #000000;
}
.payment_method__container p {
  width: 400px;
  height: 48px;
  font-family: "Segoe UI";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  display: flex;
  align-items: center;
  color: #000000;
}
.payment_method__button {
  font-family: "Segoe UI";
  font-style: normal;
  font-weight: 700;
  font-size: 13px;
  line-height: 16px;
  display: flex;
  align-items: center;
  color: #000000;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0px 0px 2px;
  gap: 16px;
  width: 224px;
  height: 36px;
  background: #ffffff;
  border: 2px solid rgba(203, 17, 171, 0.15);
  border-radius: 20px;
}
.button_active {
  border: 2px solid #cb11ab;
}

.eclipse {
  cursor: pointer;
  margin-right: 10px;
  width: 18px;
  height: 18px;
  background-repeat: no-repeat;
  background-image: url(/img/Ellipse.png);
}
.eclipse_on {
  right: 2px;
  background-repeat: no-repeat;
  background-image: url(/img/eclipse_on.png);
  position: relative;
  bottom: 2px;
}
.payment_method__accept {
  cursor: pointer;
  margin-top: 20px;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  color: #ffffff;
  display: flex;
  align-items: center;
  padding: 0px 48px;
  border: none;
  height: 44px;
  background: #cb11ab;
  border-radius: 8px;
}

.payment_method2_container {
  display: none;
  padding: 15px 25px;
  position: absolute;
  width: 350px;
  height: 378px;
  left: calc(50% - 400px / 2);
  top: calc(50% - 408px / 2 - 6.5px);
  background: #ffffff;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
  border-radius: 16px;
}
.payment_method2_container_on {
  display: block;
}
.flex2 {
  margin-bottom: 15px;
  justify-content: flex-start;
}
.flex2 img {
  margin-left: 10px;
  margin-right: 5px;
}
.payment_method2_content {
  margin-bottom: 125px;
}

@media screen and (max-width: 450px) {
  .header_el2 {
    display: none;
  }
  .br {
    width: 433;
  }
  header input {
    display: none;
  }
  header {
    width: 433px;
  }
  .header_el1 img {
    margin-right: 10px;
  }
  .header_el1 h2 {
    width: 247px;
    margin: 0;
  }
  .wrapper {
    display: block;
  }
}
